body {
    font-family: 'Poppins', sans-serif;
    margin: 0
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 37px;
}

.section1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat
}

.heading1 {
    color: royalblue;
}

.heading-h {
    color: lightseagreen;
}

.heading-h .span {
    color: gold;
}

.span-jim {
    color: #5d047345;
}

.span-j {
    color: blue;
}

.section1 {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 90%;
}

.link-btn {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, rgb(188, 43, 17));
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-big {
    display: flex;
    margin-top: 170px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.pra .dream-big {
    padding-right: 10px;
}

.flixable {
    display: flex;
}

.dev-pro {
    color: orange;
}

.f-stack {
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 5px solid #d03434;
    border-radius: 10px;
    justify-content: center;
}


.jr-stack {
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 5px solid #2e1ba8;
    border-radius: 10px;
    justify-content: center;
}

.experince {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer p {
    margin-top: 30px;
    text-align: center;

}